* {
	box-sizing: border-box;
}

.users_list {
	list-style-type: none;
}

.card {
	position: relative;
    padding: 20px 0;
    width: 100%;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 1px rgba(0,0,0,.5);
    overflow: hidden;
    text-align: center;
    z-index: 5;
    margin: 10px; 
}

.card .user_photo {
    position: relative;
    background: #fff;
    padding: 5px;    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-bottom: 30px;
    border: 1px solid rgba(0,0,0,.25);
}

.horizontal_center {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.card .user_photo img {
    width: 148px;
    border-radius: 50%;
    border: 0;
}

.card .user_title {
    color: #999;
    font-size: 18px;
    margin: 0;
}

.card .user_value {
    color: #2c2e31;
    font-size: 24px;
    margin: 5px;
    text-transform: capitalize;
}

.right {
	float: right;
}